<extend name="./App/Common/View/default/base.html"/>

<block name="title">
进线资源（财务）-报表统计-销售管理-
</block>

<block name="menu">
    {:W('Common/Cat/menu',array('Sale/Statistics/index'))}
</block>

<block name="css">
 <link href="RES{:C('DEFAULT_THEME')}/resources/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
 <link href="RES{:C('DEFAULT_THEME')}/resources/jQuery-Validation-Engine/css/validationEngine.jquery.css" rel="stylesheet">
 <link rel="stylesheet" href="RES{:C('DEFAULT_THEME')}/resources/datetimepicker/css/bootstrap-datetimepicker.min.css" />
</block>

<block name="breadcrumb">
<div class="_breadcrumb">
	<ol class="breadcrumb">
		<?php
            if ($auth->check('Sale/Excel/monthSheet', session('empId')) || session('empId') == C('CFG_MANAGER_ID')):
		?>
		<li><a href="{:U('monthSheet')}">月销售报表</a></li>
		<?php endif; ?>
		<?php
            if ($auth->check('Sale/Excel/prizeSheet', session('empId')) || session('empId') == C('CFG_MANAGER_ID')):
		?>
		<li><a href="{:U('prizeSheet')}">提成表</a></li>
		<?php endif; ?>
		<?php
            if ($auth->check('Sale/Excel/lineSheet', session('empId')) || session('empId') == C('CFG_MANAGER_ID')):
		?>
		<li class="active">进线资源</li>
		<?php endif; ?>
		<?php
            if ($auth->check('Sale/Excel/lineDetail', session('empId')) || session('empId') == C('CFG_MANAGER_ID')):
		?>
		<li><a href="{:U('lineDetail')}">进线明细</a></li>
		<?php endif; ?>
	</ol>

	<ul class="breadcrumb">
		<li><i class="fa fa-home"></i>首页</li>
		<li><a>报表统计</a></li>
		<li class="active"><a>进线资源</a></li>
	</ul>
</div>
</block>

<block name="content">
<div class="_contain">
	<h2 class="_title-center">进线资源({$monthArea})</h2>

	<!--月销售报表  开始-->
	<div class="order_list">
		<div class="panel">
			<div class="panel-body">
				<form class="form-inline" action="__ACTION__">
					<div class="form-group form-group-sm">
						<label for="txtDate">月份</label>
						<input type="text" name="month" value="{$Think.get.month}" class="form-control" id="txtDate">
					</div>
					<button type="submit" class="btn btn-cy-search btn-sm">搜索</button>
				</form>
			</div>
		</div>
		<div class="panel">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover cy-table">
						<thead>
							<tr>
								<th>日期</th>
								<th>产品</th>
								<th>客户名称</th>
								<th>用户编号</th>
								<th>订单编号</th>
								<th>收款方式</th>
								<th>实际收款</th>
							</tr>
						</thead>
						<tbody>
							<volist name="orderList" id="v">
							<tr>
								<td>{$v.collectDate}</td>
								<td>{$v.productName}</td>
								<td>{$v.name}</td>
								<td>{$v.emNum}</td>
								<td>{$v.orderNo}</td>
								<td>网银</td>
								<td>{$v.price}</td>
							</tr>
							</volist>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="13" class="_yxs-tj">
									<dl class="dl-horizontal">
										<dt>总单数：</dt>
										<dd>{$totalNum|default='0'}</dd>
									</dl>
									<p>

										<?php
								            if ($auth->check('Sale/Excel/exportLineSheet', session('empId')) || session('empId') == C('CFG_MANAGER_ID')):
										?>
										<a href="{:U('exportLineSheet',array('type'=>7))}">导出{$monthArea}月广告资源Excel</a>
										<a href="{:U('exportLineSheet',array('type'=>1))}">导出{$monthArea}月TPS资源Excel</a>
										<?php endif; ?>
									</p>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<nav class="list-pager text-right">

					<div class="cs-pager">
					{$page}
					</div>
				</nav>
			</div>
		</div>
	</div>
	<!--月销售报表  结束-->

</div>
</block>

<block name="modal">
</block>

<block name="scripts">
<script type="text/javascript" src="RES{:C('DEFAULT_THEME')}/resources/jQuery-Masonry/masonry.pkgd.min.js"></script>

<script type="text/javascript" src="RES{:C('DEFAULT_THEME')}/resources/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="RES{:C('DEFAULT_THEME')}/resources/datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>

<script>
$(document).ready(function() {
	//加载日历
	$('#txtDate').datetimepicker({
		format: 'yyyy-mm',
		autoclose: true,
		language: "zh-CN",
		startView:3,
		minView: 3,
		maxView:3,
		pickerPosition: "bottom-left"
	});
});
</script>
</block>