<div class="form-group">
    <label class="col-sm-2 control-label">来源</label>
    <div class="col-sm-9">
        <input type="text" class="form-control validate[required]" name="sourceName" placeholder="来源" autocomplete="off">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">是否显示</label>
    <div class="col-sm-9">
        <div class="row">
            <div class="radio-custom radio-default radio-inline">
                <input type="radio" id="inputHorizontalMale" name="isShow" checked="checked" value="1">
                <label for="inputHorizontalMale">是</label>
            </div>
            <div class="radio-custom radio-default radio-inline">
                <input type="radio" id="inputHorizontalFemale" name="isShow" value="2">
                <label for="inputHorizontalFemale">否</label>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">排序</label>
    <div class="col-sm-9">
        <input type="text" class="form-control validate[required,custom[integer]]" name="rank" value="50" placeholder="排序" autocomplete="off">
        <p class="help-block">数字越小，越靠前</p>
    </div>
</div>
<script type="text/javascript">
    $('input').iCheck({
        checkboxClass: 'icheckbox_minimal',
        radioClass: 'iradio_minimal',
        increaseArea: '20%' // optional
    });
    $('.selectpicker').selectpicker();
</script>
